h1 
{
  font-family: 'Cantarell', sans-serif;
}
h2 
{
  font-family: 'Catamaran', sans-serif;
}
img
{
  float: right;
  border-radius: 50%;
}
body
{
  background: #F2E4C9;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
