h1 
{
  font-family: 'Cantarell', sans-serif;
}
.text 
{
  font-size: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
h2 
{
  font-family: 'Catamaran', sans-serif;
}
img
{
  float: right;
}
body
{
  background-color: #F2E4C9;
}
